<table class="table">
  <% tasks.each do |task| %>
    <tr>
    <td>
      <span class="label-color-box" style="background:<%= task.label %>;">
      </span>
      <%= link_to(edit_user_task_path(task)) do %>
        <div class="task-title">
          <%= task.title %>
        </div>
        <div class="task-due_date">
          <%= task.due_date %>
        </div>
      <% end %>
      
      <div class="move-botton">
        <%= image_tag task.user.image.url, class: "task-user-image" %>
      </div> 

      <div class="move-botton">
        <% if task.status == "yet" %>
          <!-- 実行中へのボタン --> 
          <%= form_for [:user, task] do |f| %>
            <div class="form">
              <div class="form-group">
                <%= f.hidden_field :status, value: "doing" %>
              </div>
              <div class="form-group">
                <%= f.submit "実行中へ", :class => "btn btn-info" %>  
              </div>
            </div>
          <% end %>
        <% elsif task.status == "doing" %>
          <!-- 完了済みのボタン --> 
          <%= form_for [:user, task] do |f| %>
            <div class="form upgrade-button">
              <div class="form-group">
                <%= f.hidden_field :status, value: "done" %>
              </div>
              <div class="form-group">
                <%= f.submit "完了済みへ", :class => "btn btn-primary" %>  
              </div>
            </div>
          <% end %>
        <% elsif task.status == "done" %>
          <div class="form-group">
            <%= link_to "削除する", user_task_path(task), method: :delete, :class => "btn btn-danger" %>
          </div>  
        <% end %> 
      </div>

      <div class="group-name">
        <% if task.group_id == 0 %>
        　個人タスク
        <% else %>
          <%= task.group.name %>  
        <% end %>  
      </div>
  
    </td>
    </tr>
  <% end %>
</table>
<%= paginate tasks, param_name: param_name, :class => "pagenation-bar" %>