<div class="container">
  <h1>タスクを編集してください</h1>
    <%= render partial: "partials/error_message", locals: { thing: @task } %>
    <%= @task.created_at %>
    <%= form_for [:user, @task] do |f| %>
    <div class="form">
      <div class="form-group">
        <%= f.text_field :title, :class => "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.label :body, "詳細を書くことができます。" %>
        <%= f.text_area :body, :class => "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.label :due_date, "締め切りは？" %><br>
        <%= f.date_select :due_date, :class => "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.label :status, "ステータスを変更できます。" %><br>
        <%= f.select :status, [["未着手", "yet"], ["実行中", "doing"], ["完了済み", "done"]], :class => "form-control"  %>
      </div>
      <div class="form-group">
        <p>ラベルをつけましょう。</p>
        <%= f.radio_button :label, "red", :class => "hidden" %>
        <%= f.label :label_red, "red", :class => "label label-red" %>
        <%= f.radio_button :label, "yellow", :class => "hidden" %>
        <%= f.label :label_yellow, "yellow", :class => "label label-yellow" %>
        <%= f.radio_button :label, "green", :class => "hidden" %>
        <%= f.label :label_green, "green", :class => "label label-green" %>
        <%= f.radio_button :label, "blue", :class => "hidden" %>
        <%= f.label :label_blue, "blue", :class => "label label-blue" %>
      </div>
      <br><br><br><br><br>
      <div class="form-group">
        <%= f.label :share_no, "共有しない" %>
        <%= f.radio_button :share, "no" %>
        <%= f.label :share_yes, "共有する" %>
        <%= f.radio_button :share, "yes" %>
      </div>  
      <div class="form-group">
        <%= f.submit "更新", :class => "btn btn-success" %>
      </div>
      <% end %>
    </div>
    <%= link_to "タスクを削除", user_task_path(@task), method: :delete %><br>
    <%= link_to "一覧に戻る", user_tasks_path %>
</div>

