<div class="container">
  <h1>This is Task-index page.</h1>
  <%= image_tag @current_user.image.url, class: "current_user-image" %>

  <!-- 新規登録フォーム -->
  <div class="task-new-form">
    <%= render partial: "partials/error_message", locals: { thing: @task } %>
    <%= form_for [:user, @task] do |f| %>
    <div class="form-inline">
      <div class="form-group">
        <%= f.text_field :title, :class => "form-control w-50" ,style: "width:500px;"  %>
      </div>
      <div class="form-group">
        <%= f.submit "投稿", :class => "btn btn-success" %>
      </div>
    </div>
    <% end %>
  </div>

  <!-- ソートフォーム -->
  <div class="search-form">
    <%= form_tag(user_tasks_path, method: "get") do %>
      <%= select_tag :label, options_for_select(Task.labels) %>
      <%= submit_tag "検索" %>
    <% end %>
  </div>

  <div class="tables">
    <div class="table-wrapper">
      <p class="table-title">未着手のタスク</p>
      <div id="table1">
        <%= render :partial => 'tasks', locals: { tasks: @yet_tasks, param_name: 'yet_page' } %>
      </div>
    </div>    
    <div class="table-wrapper">
      <p class="table-title">実行中のタスク</p>
      <div id="table2">
        <%= render :partial => 'tasks', locals: { tasks: @doing_tasks, param_name: 'doing_page'  } %>
      </div>
    </div>  
    <div class="table-wrapper">
      <p class="table-title">完了したタスク</p>
      <div id="table3">
        <%= render :partial => 'tasks', locals: { tasks: @done_tasks, param_name: 'done_page'  } %>
      </div>  
    </div>
    <div class="table-wrapper">
      <p class="table-title">共有タスク</p>
      <div id="table4">
        <%= render :partial => 'tasks', locals: { tasks: @share_tasks, param_name: 'yet_page'  } %>
      </div> 
    </div>
    <div class="table-wrapper"> 
      <p class="table-title">終了期限が近いタスク</p> 
      <div id="table5">
        <%= render :partial => 'tasks', locals: { tasks: @alert_tasks, param_name: 'yet_page'  } %>
      </div>
    </div>
  </div>  
</div>
