<div class="container">
  <h1>This is Task-index page.</h1>
  <%= image_tag @current_user.image.url, class: "current_user-image" %>

  <!-- 新規登録フォーム -->
  <div class="task-new-form">
    <%= render partial: "partials/error_message", locals: { thing: @task } %>
    <%= form_for [:user, @task] do |f| %>
    <div class="form">
      <div class="form-body">
        <%= f.text_field :title, :class => "form-control"  %>
      </div>
      <div class="form-body">
        <%= f.submit "投稿", :class => "btn btn-success" %>
      </div>
    </div>
    <% end %>
  </div>

  <!-- ソートフォーム -->
  <div class="search-form">
    <%= form_tag(user_tasks_path, method: "get") do %>
      <%= select_tag :label, options_for_select(Task.labels) %>
      <%= submit_tag "検索" %>
    <% end %>
  </div>

  <ul class="nav nav-tabs">
    <li><a href="#table1" data-toggle="tab">未着手<span class="badge"><%= @yet_tasks.total_count %></span></a></li>
    <li class="active"><a href="#table2" data-toggle="tab">実行中<span class="badge"><%= @doing_tasks.total_count %></span></a></li>
    <li><a href="#table3" data-toggle="tab">完了済み<span class="badge"><%= @done_tasks.total_count %></span></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" id="table1">
      <%= render :partial => 'tasks', locals: { tasks: @yet_tasks } %>
    </div>  
  
    <div class="tab-pane active" id="table2">
      <%= render :partial => 'tasks', locals: { tasks: @doing_tasks } %>
    </div>

    <div class="tab-pane" id="table3">
      <%= render :partial => 'tasks', locals: { tasks: @done_tasks } %>
    </div>  
  </div>

  <div id="table4">
    <%= render :partial => 'tasks', locals: { tasks: @share_tasks } %>
  </div> 
  
  <div id="table5">
    <%= render :partial => 'tasks', locals: { tasks: @alert_tasks } %>
  </div>

</div>
