<div class="container">
  <h1>タスクを編集してください</h1>
    <%= form_for (@task) do |f| %>
    <div class="form">
      <div class="form-body">
        <%= f.text_field :title, :class => "form-control"  %>
      </div>
      <div class="form-body">
        <%= f.label :body, "詳細を書くことができます。" %>
        <%= f.text_area :body, :class => "form-control"  %>
      </div>
      <div class="form-body">
        <%= f.label :due_date, "締め切りは？" %><br>
        <%= f.date_select :due_date, :class => "form-control"  %>
      </div>
      <div class="form-body">
        <%= f.label :status, "ステータスを変更できます。" %><br>
        <%= f.select :status, [["未着手", "yet"], ["実行中", "doing"], ["完了済み", "done"]], :class => "form-control"  %>
      </div>
      <div class="form-body">
        <%= f.label :label, "ラベルをつけましょう。" %><br>
        <%= f.radio_button :label, "red" %>
        <%= f.label :label_red, "red", :class => "label label-red" %>
        <%= f.radio_button :label, "yellow" %>
        <%= f.label :label_yellow, "yellow", :class => "label label-yellow" %>
        <%= f.radio_button :label, "green" %>
        <%= f.label :label_green, "green", :class => "label label-green" %>
        <%= f.radio_button :label, "blue" %>
        <%= f.label :label_blue, "blue", :class => "label label-blue" %>
      </div>
      <br>
      <div class="form-body">
        <%= f.submit "投稿", :class => "btn btn-success" %>
      </div>
      <% end %>
    </div>
    <%= link_to "タスクを削除", task_path(@task), method: :delete %>
</div>

