<div class="container">
  <h1>This is Task-index page.</h1>
  <ul class="nav nav-tabs">
    <li><a href="#table1" data-toggle="tab">未着手<span class-"tasks-count"><%= @yet_tasks.count %></span></a></li>
    <li class="active"><a href="#table2" data-toggle="tab">実行中<span class-"tasks-count"><%= @doing_tasks.count %></span></a></li>
    <li><a href="#table3" data-toggle="tab">完了済み<span class-"tasks-count"><%= @done_tasks.count %></span></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" id="table1">
      <table class="table">
        <% @yet_tasks.each do |task| %>
          <tr>
          <td>
            <span class="label-color-box" style="background:<%= task.label %>;">
            </span>
            <%= link_to(edit_task_path(task)) do %>
              <div class="task-title">
                <%= task.title %>
              </div>
              <div class="task-due_date">
                <%= task.due_date %>
              </div>
            <% end %>
          </td>
          </tr>
        <% end %>
      </table>
    </div>  

    <div class="tab-pane active" id="table2">
      <table class="table">
        <% @doing_tasks.each do |task| %>
          <tr>
          <td>
            <span class="label-color-box" style="background:<%= task.label %>;">
            </span>
            <%= link_to(edit_task_path(task)) do %>
              <div class="task-title">
                <%= task.title %>
              </div>
              <div class="task-due_date">
                <%= task.due_date %>
              </div>
            <% end %>
          </td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="tab-pane" id="table3">
      <table class="table">
        <% @done_tasks.each do |task| %>
          <tr>
          <td>
            <span class="label-color-box" style="background:<%= task.label %>;">
            </span>
            <%= link_to(edit_task_path(task)) do %>
              <div class="task-title">
                <%= task.title %>
              </div>
              <div class="task-due_date">
                <%= task.due_date %>
              </div>
            <% end %>
          </td>
          </tr>
        <% end %>
      </table>
    </div>  
  </div>

  <div class="task-new-form">
    <%= form_for (@task) do |f| %>
    <div class="form">
      <div class="form-body">
        <%= f.text_field :title, :class => "form-control"  %>
      </div>
      <div class="form-body">
        <%= f.submit "投稿", :class => "btn btn-success" %>
      </div>
      <% end %>
    </div>
  </div>

</div>