<div class="container">
  <h1>他人の情報を編集できます。</h1>
  <h3>※パスワードは変更できません</h3>
  <%= render partial: "partials/error_message", locals: { thing: @user } %>
  <%= form_for [:admin, @user] do |f| %>
    <div class="form-group">
      <%= f.text_field :name, :class => "form-control", :placeholder => "Name" %>
    </div>
    <div class="form-group">
      <%= f.email_field :email, :class => "form-control", :placeholder => "Email" %>
    </div>
    <div class="form-group">
      <%= f.file_field :image, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :role_user, "権限なし" %>
      <%= f.radio_button :role, "user" %>
      <%= f.label :role_admin, "権限あり" %>
      <%= f.radio_button :role, "admin" %>
    </div>  
    <div class="form-group">
      <%= f.submit "変更", :class => "btn btn-success" %>
    </div>
  <% end %>
  <% if @current_user.id != @user.id %>
    <%= link_to "このユーザーを削除", admin_user_path(@user), method: :delete %><br>
  <% end %>  
  <%= link_to "一覧に戻る", admin_users_path %>
</div>