<!DOCTYPE html>
<html>
  <head>
    <title>NextToDo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav">
        <li><%= link_to("Next To Do -Admin-", admin_users_path) %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to("User Modeへ", user_tasks_path) %></li>
        <li>
          <%= link_to(edit_user_path(@current_user)) do %>
            <%= image_tag @current_user.image.url, class: "navbar_user-image" %>
          <% end %>  
        </li>
        <li><%= link_to("ログアウト", "/logout", method: :post) %></li>
      </ul>
    </nav>
  </header>

  <body>
    <% if flash[:notice].present? %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div> 
    <% end %>
    <% if flash[:alert].present? %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>  
    <% end %>
    <%= yield %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
  <script type="text/javascript">
  </script>
</html>