<!DOCTYPE html>
<html>
  <head>
    <title>NextToDo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li><%= link_to("Next To Do", admin_users_path) %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to("Admin Mode", user_tasks_path) %></li>
        <li><%= link_to(@current_user.name) %></li>
        <li><%= link_to("ログアウト", "/logout", method: :post) %></li>
      </ul>
    </nav>
  </header>

  <body>
    <% if flash[:notice].present? %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div> 
    <% end %>
    <% if flash[:alert].present? %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>  
    <% end %>
    <%= yield %>
  </body>
  <script type="text/javascript">
  </script>
</html>